# Xcode / generated project
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
build/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane / misc
*.mobileprovision
*.p12
